# Configuración del servidor
PORT=3000
NODE_ENV=development

# Seguridad mínima
API_KEY=mi_clave_secreta

# Conexión a la Base de Datos (PostgreSQL)
# Local: postgresql://<usuario>:<contraseña>@localhost:5432/<nombre_bd>
# En Railway: Se inyecta automáticamente la variable DATABASE_URL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/content_creator_db
